body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: url(imagenes/fi_sm.jpg);
    padding: 20px 0;
    
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    

}
.caja h1 img{
    width: 35%;
}
.posicion{
    padding-left: 10%;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase; 
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width:940;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display:inline-block;
    block-size: 500px;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos li img{
        padding-top: 10%;
}

.productos li:hover{
    border-color: #c78c19
    
}

.productos li:active{
    border-color: #088c19;

}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}
.productoDescripcion{
    font-size: 18px;
    padding: 20%;
}
footer{
    text-align: center;
    background-color: #0B0B61;
    padding: 40px;
    
}
footer img{
    width: 20%;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;   
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
    
}

table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* Aqui inicia css para nuestra home*/
.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.tituloPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-weight: bold;
}
.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

#mision{
    font-size: 20px;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888) ;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.mapaContenido{
    width: 940px;
    margin: 0 auto;
   
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.diferenciales h3{
    text-align: center;
    color: #ffffff;
}

.contenidoDiferenciales{
    width: 640px;
    margin: 0 auto;   
   }
   
.listasDiferenciales{
       width: 40%;
       display: inline-block;
       vertical-align: top;
}

.items{
    line-height: 1.5;
    color: #ffffff;
}
.items:before{
    content: "★";
}
.items:first-child{
    font-weight: bold;
}

/* Algunos estilos para  la pagina de servicios*/

.servicios{
    width:940;
    margin: 0 auto;
    padding: 50px;
}
.decoracion{
    color: black;
    font-weight: bold;
}
.decoracion:hover{
    color: blue;
    font-size: 19px;
    font-weight: bold;
}

.servicios li{
    display:inline-block;
    block-size: 500px;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    
}
.servicios li img{
        padding-top: 10%;
        margin: 0 auto;
        width: 49%;
}
.imgHorizontal{
    display:inline-block;
    margin: 0 auto;
}


.servicios h2{
    font-size: 30px;
    font-weight: bold;
}


.serviciosDescripcion{
    font-size: 18px;
    padding: 10%;
}